body,html,div,iframe {
	min-height: 0px;
}

html {
	background-color: transparent;
}

table.list td
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
}

.ffdawfix_i {
}

.ffdawfix_chat {
}

.ffdawfix_stat_header {
	font-weight: bold;
}

.ffdawfix_stat_line_short {
	float: left;
	position: relative;
	width: 30px;
	background-color: white;
	font-size: 8px;
	margin-top: 2px;
}

.ffdawfix_stat_fill {
	position: relative;
}

.lbStrengthValue,
.lbDexValue,
.lbLuckValue
 {
	/*float: right;
	position: relative;*/
	display: inline-block;
	text-align: right;
	width: 40px;
	font-weight: bold;
}

.lbStrengthLine,
.lbDexLine,
.lbLuckLine
{
/*	float: left;
	position: relative;
	*/
	display: inline-block;
	width: 70px;
	background-color: white;
	font-size: 8px;
	margin-top: 2px;
	text-align: left;
	border: 1px solid black;
}

.lbStrengthValue, .lbDexValue, .lbLuckValue {color: #000000;}

.lbStrengthLine {border-color: #500000;}
.lbDexLine {border-color: #003300;}
.lbLuckLine {border-color: #003399;}

.lbStrengthFill {background-color: #700000;}
.lbDexFill {background-color: #009900;}
.lbLuckFill {background-color: #0066cc;}

.lbStrengthExtFill {background-color: #b00000;}
.lbDexExtFill {background-color: #00cc66;}
.lbLuckExtFill {background-color: #00ccff;}

.ffdawfix_stat_value {
	float: right;
	position: relative;
	text-align: right;
	width: 50px;
}

.ffdawfix_timer_panel {
	display: inline-block;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
	border: 1px solid black;
}

.ffdawfix_timer_time {
	font-weight: bold;
	display: inline-block;
	width: 50px;
	text-align: center;
}

.ffdawfix_timer_link {
		cursor: pointer;
		text-decoration: underline;
		margin-right: 5px;
		margin-left: 5px;
}

#wwin {
	overflow-x: hidden;
}

.cih, .cihp,
.ci1, .ci2,  
.chand, .mitem,
.BG0, .BG1,
#btSmiles, #btTranslit,
#InpImg, #btClearTop,
#btClearBottom
{
	cursor:pointer;
}
#rbAttack_0, #rbAttack_1, #rbAttack_2, #rbAttack_3,
#cblDefence_0, #cblDefence_1, #cblDefence_2, #cblDefence_3 
{
	width: 15px;
	height: 15px;
	-moz-appearance: none;
}

#frmView {
	overflow: hidden;
	width:450px;
	height:350px;
}

#frame2[src*="MazeFound"] {
	width: 240px;
	overflow-x: hidden;
}

label {
		cursor: pointer;
		text-decoration: underline;
}

#msgtxt::-moz-selection {
	background: transparent;
}

#chatmenu {
	border: 1px solid #663300;
}

#chatmenu option {
	background-position: 3px 0;
	background-size: 12px;
	background-repeat: no-repeat;
	text-indent: 15px;
	cursor: pointer;
}

#cbFilter {
	border: 1px solid #663300;
}

#chatmenu .msg {
	background-image: url(http://darkagesworld.com/vr/Images/Pvt.gif);
}

#chatmenu .smile {
	background-image: url(resource://ffdawfix/img/chatsmile.png);
}

#chatmenu .del {
	background-image: url(resource://ffdawfix/img/chatdel.gif);
}

#chatmenu .translit {
	background-image: url(resource://ffdawfix/img/chattranslit.png);
}

